
<div pip-focused pip-focused-color="rgba(255, 255, 255, 0)">
	<div>
		<div class="pip-focusable div-box box-color" tabindex="0" ng-click="onClick(1)">Button 0</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(2)">Button 1</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(3)">Button 2</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(4)">Button 3</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(5)">Button 4</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(6)">Button 5</div>
	</div>
</div>
<div pip-focused class="block1" pip-focused-data="collection" pip-data="collection">
	<div>
		<div class="pip-focusable div-box" tabindex="0">Button 6</div>
		<div class="pip-focusable div-box" tabindex="-1">Button 7</div>
		<div class="pip-focusable div-box" tabindex="-1">Button 8</div>
		<div class="pip-focusable div-box" tabindex="-1">Button 9</div>
		<div class="pip-focusable div-box" tabindex="-1">Button 10</div>
	</div>
</div>
<div pip-focused pip-focused-opacity="true">
	<div>
		<div class="pip-focusable div-box box-color" tabindex="0" ng-click="onClick(1)">Button 0</div>
		<div class="pip-focusable div-box box-color" tabindex="0" ng-click="onClick(2)">Button 1</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(3)">Button 2</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(4)">Button 3</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(5)">Button 4</div>
		<div class="pip-focusable div-box box-color" tabindex="-1" ng-click="onClick(6)">Button 5</div>
	</div>
</div>		


    <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="" style="width: 500px;">
      <md-tab ng-repeat="tab in tabs" label="{{tab.title}}">
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <div ng-bind="tab.content"></div>
        </div>
      </md-tab>
    </md-tabs>