<h2 class="text-title">Selected sample:</h2>
<md-card class="drag-scroll layout-column flex">
	<md-card-content class="scroll-card divider-bottom">
<md-list class="pip-menu pip-ref-list selected-sample" 
		pip-selected="sel.itemIndex" 
		pip-selected-id="sel.itemId" 
		pip-enter-space-press="onEnterSpacePress($event)" 
		pip-selected-watch="sel.item.id" 
		pip-select="onItemSelect($event)">
	<md-list-item class="pip-selectable divider-bottom p0" md-ink-ripple
				  ng-repeat="item in items" pip-id="{{:: item.id}}">
		<button class="md-no-style md-button md-ink-ripple">
			<div class="pip-ref-list-item layout-row layout-align-start-start">
				<div class="pip-content">
					<div class="pip-title"> {{ $index }}</div>
					<div class="pip-text">{{ item.name }}</div>
				</div>
			</div>
		</button>
	</md-list-item>
</md-list>
</md-card-content>
<div class="layout-row layout-align-end-start" style="padding: 8px; ">
	<!--md-button ng-click="onMoveToStart()">Move to Start</md-button-->
	<md-button ng-click="onItemDelete()">Delete Item</md-button>
</div>
</md-card>