
.sample-container {
    padding: 24px;
}

.sample-container .content-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 8px -24px;
}

.sample-container .text-subhead2 {
	margin: 16px 0px;
}

.w-stretch{
    width: 100%;
}

.scroll{
    overflow: auto;
}

.sample-container h2.text-title {
	margin-top: 0px;
	margin-bottom: 24px;
}
.sample-container .scroll-card {
	margin: 0px;
	padding: 0x;
}

.sample-container p.text-body1 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.sample-container .code-block {
	padding: 16px;
}

.sample-container .text-input {
	margin-bottom: 24px!important;
}
.sample-container .popover-text-container {
	width: 50%!important;
	padding-left: 0px;
	margin-bottom: 24px!important;
}

.sample-container .code-block .text-subhead2 {
	margin: 0px;	
}

.sample-container pre {
    border-radius: 4px;
}

.sample-container .flat {
    box-shadow: none !important;
}

.pip-recommended-header {
    height: 45px;
    min-height: 45px;
    z-index: 10;
}

.pip-recommended-header .md-toolbar-tools {
    height: 45px;
    min-height: 45px;
}

.pip-recommended-header pip-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pip-recommended-header .md-button > span {
    text-transform: none;
}

.pip-body {
    padding: 24px !important;
}

/* Styles for Selected */

.app-selected .pip-list-x {
    background-color: grey;
    max-height: 200px;
    overflow-y: scroll;
}

.app-selected .pip-list-x:focus {
    background-color: yellow;
    outline: blue solid 1px;
}

.app-selected .pip-list-x .pip-list-x-item {
    position: relative;
    overflow: hidden;
}

.app-selected .pip-list-x-item:hover,
.app-selected .pip-list-x-item.selected {
    background-color: red;
}

/* Styles for Infinite Scroll */

.app-infinite-scroll {
    border: 2px solid red;
    overflow-y: auto;
    height: 500px;
}

.app-infinite-scroll .item-container {
    width: 680px;
    margin: 0 auto;
}

.app-infinite-scroll .item {
    margin: 10px;
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    border: 2px solid black;
}

.p24-flex {
    padding: 24px;
}

.p0 {
    padding: 0 !important;
}

@media (max-width: 768px) {
    .p24-flex {
        padding: 16px;
    }

}


/* Styles for Draggable */

.drag-scroll-test {
	overflow: scroll;
	height: 400px;
}

.drag-scroll [pip-drag] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.drag-scroll [pip-drag] {
	cursor: move;
}

.drag-scroll [pip-drag].drag-over {
	border: solid 1px red;
}

.drag-scroll [pip-drag].dragging {
	opacity: 0.5;
}

.drag-scroll [pip-drop] {
	position: relative;
}

.drag-scroll [pip-drop].drag-enter {
	border: solid 5px red;
}

.drag-scroll [pip-drop] p {

}

.drag-scroll [pip-drop] div {
	/*position: relative;*/
	z-index: 2;
}

.selected-sample.pip-menu {
    height: 600px;
    overflow: auto;  /*for selected */
    padding-top: 0px; /*for selected scroll to element*/
    padding-bottom: 0px; /*for selected scroll to element*/ 
}

/* freeze */

.wrapper {
  width: 500px;
  height: 400px;
  border: 1px solid black;
  overflow: auto;
}
.item {
  background-color: #ccc;
  line-height: 48px;
  vertical-align: middle;
  height: 48px;
  margin-bottom: 1px;
}

.wrapper .bg-red {
    background: red;
}
.wrapper .bg-blue {
    background: blue;
}
.wrapper .bg-yellow {
    background: yellow;
}
.wrapper .bg-green {
    background: green;
}
